.backarrowContainer{
    display: flex;
    padding: 10px;
    align-items: center;
    width: auto;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 115px;
    color: var(--dark-blue);
}

.backarrowContainer:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.arrow {
    margin-right: 10px;
}