.main {
    flex-direction: column;
    padding: 50px 25%;
    justify-content: start;
    align-items: baseline;
    height: fit-content;
}

.lessonPagefigure{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.lessonPageLink{
    margin: 8px 0;
}

@media (max-width:990px){
    .main{
        padding: 50px 10%;
    }

}

