.card {
    width: 100%; 
    max-width: 300px;
    height: 200px;
    margin: 1%;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px #00000040;
    
}

.card > * {
    padding: 5px;
}

.cardHeader {
    flex: 0.1;
    width: 100%;
    justify-content: left;
    background-color: var(--mid-blue);
    color: var(--a11y-white);
    border-radius: 4px 4px 0 0 ;
}

.cardBody {
    flex: 0.9;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;

}