@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

html{
  /*colors variables*/
  --dark-blue: #082D70;
  --mid-blue: #007C83;
  --light-blue: #00C2CB;
  --a11y-white: #FCFCFC;
  --a11y-black: #222222;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Roboto, sans-serif;
  color: var(--a11y-black);
  width: 100%;
  height: 100%;
}

#__next {
  width: 100%;
  height: 100%;
}

header{
  background-color: var(--dark-blue);
  color: var(--a11y-white);
  width: 100%;
  padding: 2%;
}

footer{
  background-color: var(--a11y-black);
  color: var(--a11y-white);
  padding: 15px;
  margin-top: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus{
  color: var(--dark-blue);
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.f {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.b {
  border: 1px solid black;
  box-sizing: border-box;
}


button{
  background-color: var(--dark-blue);
  color: var(--a11y-white);
  font-weight:bold ;
  border: none;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
  
}

button:hover{
  background-color: var(--mid-blue);
}

button:focus, button:focus-visible{
  box-shadow: 0 0 3px 3px var(--light-blue);
  border:none;
  outline: none;
}

button:disabled{
  background-color: gray;
  cursor: not-allowed;
}

p{
  line-height: 1.5;
}

.h2-home{
  color: var(--a11y-black);
  margin: 1.5em 0 1em 0;
}

h2{
  color: var(--dark-blue);
  text-align: left;
  margin-bottom: 0px;
  margin-top: 2em;
  
}
h3{
  color: var(--mid-blue);
  margin-bottom: 0px;
  margin-top: 2em;
}

ul{
  list-style-type: none;
}
ul li{
  margin-bottom: 1.2em;
}

.logo{
  max-width: 300px;
  width: 100%;
  height: auto;
}

figcaption{
  font-size: .8em;
}
/*Github corner*/
.github-corner:hover .octo-arm{
  animation:octocat-wave 560ms ease-in-out
} 
.github-corner:focus .octo-arm{
  animation:octocat-wave 560ms ease-in-out
}
.github-corner:focus .githubSVG{
  fill: var(--mid-blue);
}

@keyframes octocat-wave{
  0%,100%{transform:rotate(0)}
  
  20%,60%{transform:rotate(-25deg)}
  
  40%,80%{transform:rotate(10deg)}
}
  
@media (max-width:500px){
  .github-corner:hover .octo-arm{animation:none}
  .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
  h1{
    font-size: 1.7em;
  }
}
      
.githubSVG{
  fill: var(--light-blue);
  color:#fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  transition-duration: 0.4s;
}
.githubSVG:hover{
  fill: var(--mid-blue);
}
    
.octo-arm{
  transform-origin: 130px 106px;
}